<body class="background-movies">
  <div class="align-index">
    <div class="align-index-title">
        <h1>Cinema Ironhack</h1>
    </div>
    <div class="align-index-button">
        <a href="/movies">Check the movies!</a>
    </div>
  </div>
</body>